.table {
    width: 100%;
    border-spacing: 0 10px;
}

.table th {
    padding: 8px;
    vertical-align: top;
    font-weight: normal;
    text-align: left;
}

.table td {
    padding: 8px;
    vertical-align: top;
    background-color: var(--primitives-color-white);
}

.table td:first-child {
    border-radius: 16px 0 0 16px;
}

.table td:last-child {
    border-radius: 0 16px 16px 0;
}