---
import "@fontsource/fira-code"

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Gyldendal Undervisning designsystem" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @import "gu-ds-base/output/tokens.css";

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  :root {
  }

  html {
  }

  body {
    font-family: Inter, system-ui, sans-serif;
    margin: 0;
  }

  main {
  }
</style>
