---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Gyldendal Undervisning designsystem" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://www.skolestudio.no/assets/fonts/inter-3.19/Inter-roman.var.woff2?v=3.19"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.cdnfonts.com/css/inter");
  @import "gu-ds-tokens/output/tokens.css";

  :root {
    --accent: var(--primitives-color-purple-500);
    --accent-light: var(--primitives-color-purple-100);
    --accent-dark: var(--primitives-color-purple-800);
    --accent-gradient: linear-gradient(
      45deg,
      var(--accent),
      var(--accent-light) 30%,
      var(--primitives-color-white) 60%
    );
  }
  html {
    font-family: Inter, system-ui, sans-serif;
    background: var(--primitives-color-gray-1000);
  }
  body {
    margin: 0;
  }
  main {
    color: var(--primitives-color-blue-800);
    font-size: calc(var(--primitives-size-20) * 1px);
    line-height: var(--primitives-font-line-height-150) / 10;
  }
  h1 {
    font-size: calc(var(--primitives-size-48) * 1px);
    font-weight: var(--primitives-font-weight-bold);
    text-align: center;
    line-height: 0.9;
  }

  input {
    text-align: center;
    width: calc(100px + 25vw);
    border: 0;
    border-bottom: 1px solid var(--primitives-color-white);
    color: var(--primitives-color-white);
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    font-size: calc(var(--primitives-size-48) * 1px);
  }

  .submit-button {
    background: var(--component-button-color-background);
    border-radius: calc(var(--semantic-action-border-radius-pill) * 1px);
    padding: calc(var(--component-button-padding-top)* 1px) calc(var(--component-button-padding-left)* 1px);
  }
</style>
