.action-button {
  font-size: 16px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.5;
  margin-bottom: undefinedpx;
}
.action-input-label {
  font-size: 16px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.action-input-placeholder {
  font-size: 16px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.5;
  margin-bottom: undefinedpx;
}
.action-input-disabled {
  font-size: 16px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.action-disabled-placeholder {
  font-size: 16px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.5;
  margin-bottom: undefinedpx;
}
.action-disabled-button {
  font-size: 16px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.5;
  margin-bottom: undefinedpx;
}
.content-body {
  font-size: 16px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.5;
  margin-bottom: undefinedpx;
}
.content-lead {
  font-size: 24px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.5;
  margin-bottom: undefinedpx;
}
.content-caption {
  font-size: 14px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.5;
  margin-bottom: undefinedpx;
}
.content-badge {
  font-size: 12px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.5;
  margin-bottom: undefinedpx;
}
.heading-xxxl {
  font-size: 64px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.heading-xxl {
  font-size: 48px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.heading-xl {
  font-size: 40px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.heading-l {
  font-size: 32px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.heading-m {
  font-size: 24px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.heading-s {
  font-size: 20px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.heading-xs {
  font-size: 16px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.16;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.heading-xxs {
  font-size: 14px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.heading-subheading {
  font-size: 14px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.28;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.tile-heading {
  font-size: 24px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.tile-body {
  font-size: 20px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.tile-subheader {
  font-size: 16px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.list-listitem-header-default {
  font-size: 16px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.list-listitem-header-selected {
  font-size: 16px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.list-listitem-header-small {
  font-size: 14px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 8.571428571428571;
  margin-bottom: undefinedpx;
}
.listitem-big-header-default {
  font-size: 16px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.listitem-big-header-selected {
  font-size: 16px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1.2;
  margin-bottom: undefinedpx;
}
.section-input {
  font-size: 32px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: undefined;
  line-height: 1;
  margin-bottom: undefinedpx;
}