---
import { VscGithub } from "react-icons/vsc";
import { SiStorybook } from "react-icons/si";
import typographyStyles from "gu-ds-css/output/typography.module.css";
---

<ul>
    <li>
        <a href="https://652cf51e3a6479589be744b0-oclksdukuq.chromatic.com/" target="_blank" class={typographyStyles.actionButton}>
            <SiStorybook /> 
            Komponenter
        </a>
    </li>
    <li>
        <a href="https://github.com/GyldendalDigital/gu-ds" target="_blank" class={typographyStyles.actionButton}>
            <VscGithub /> 
            Github
        </a>
    </li>
</ul>

<style>
    ul {
        display: flex;
        gap: calc(var(--primitives-size-6) * 1px);
        justify-content: end;
        margin: 0;
        padding: calc(var(--primitives-size-16) * 1px);
        text-indent: 0;
        list-style: none;
    }

    li {
        all: initial;
    }

    a {
        display: flex;
        align-items: center;
        gap: calc(var(--primitives-size-8) * 1px);
        padding: calc(var(--primitives-size-12) * 1px) calc(var(--primitives-size-18) * 1px);
        __border: solid 1px var(--primitives-color-gray-800);
        border-radius: calc(var(--primitives-border-radius-pill) * 1px);
        background-color: var(--primitives-color-violet-1000);
        color: var(--primitives-color-white);
    }

    svg {
        color: inherit;
    }

</style>