.input {
  font-size: calc(var(--primitives-size-64));
  text-align: center;
  width: calc(var(--primitives-size-64) * 1px + var(--primitives-size-24) * 1vw);
  border: 0;
  border-bottom: 2px solid var(--primitives-color-black);
  color: var(--primitives-color-black);
  background: var(--primitives-color-black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}