---
import Example from "gu-ds-components/react/example";
---

<!-- Server side rendered react component -->

<Example
  message="Server side rendered react component"
  backgroundColor="lightsalmon"
/>

<br />

<!-- Client side rendered react component -->

<div id="react-root"></div>

<br />

<script>
  import Example from "gu-ds-components/react/example";
  import { createElement } from "react";
  import { createRoot } from "react-dom/client";
  const element = document.getElementById("react-root");
  if (element) {
    const root = createRoot(element);
    const componentWithoutJsx = createElement(
      Example,
      {
        message: "Client side rendered react component",
        backgroundColor: "salmon",
      },
      null
    );
    root.render(componentWithoutJsx);
  }
</script>

<!-- Web component using custom element -->

<script>
  import "gu-ds-components/web-component/example";
</script>

<gu-ds-example message="Web component using custom element" background-color="lightsalmon" />

<br />


<!-- Scripted Web component -->

<div id="web-component-container">
</div>

<script>
  import Example from "gu-ds-components/web-component/example";
  const example = new Example();
  example.backgroundColor = "darksalmon";
  example.message = "Scripted Web component"
  document.querySelector("#web-component-container")?.appendChild(example);
</script>

