---
import Example from "gu-ds-components/components/example";
---

<gu-ds-example message="Web component" background-color="lightsalmon">
</gu-ds-example>

<br />

<div id="react-root"></div>

<br />

<Example
  message="Server side rendered react component"
  backgroundColor="lightsalmon"
/>

<script>
  import registerWebComponents from "gu-ds-components/register-web-components";
  registerWebComponents();
</script>

<script>
  import  Example  from "gu-ds-components/components/example";
  import { createElement } from "react";
  import { createRoot } from "react-dom/client";

  const element = document.getElementById("react-root");
  if (element) {
    const root = createRoot(element);
    const componentWithoutJsx = createElement(
      Example,
      {
        message: "Client side rendered react component",
        backgroundColor: "salmon",
      },
      null
    );
    root.render(componentWithoutJsx);
  }
</script>
