---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Colors } from "../components/Colors";
import { Content as ColorMarkdown } from "../markdown/colors.md";
import { Borders } from "../components/Borders";
import { Sizes } from "../components/Sizes";
import { Content as BorderMarkdown } from "../markdown/borders.md";
import { Content as SizeMarkdown } from "../markdown/sizes.md";
import { AnimatedInput } from "../components/AnimatedInput";
import { TableClient, AzureNamedKeyCredential } from "@azure/data-tables";

const save = async (value: string) => {
  const account = import.meta.env.AZURE_ACCOUNT;
  const accountKey = import.meta.env.AZURE_KEY;
  const tableName = "dsforslag";

  const credential = new AzureNamedKeyCredential(account, accountKey);
  const client = new TableClient(
    `https://${account}.table.core.windows.net`,
    tableName,
    credential
  );

  await client.createEntity({
    partitionKey: value,
    rowKey: new Date().toISOString(),
  });
};

let forslagCookie = Astro.cookies.get("forslag")?.value ?? "";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = `${data.get("name")}`;

    if (forslagCookie !== name) {
      await save(name);

      Astro.cookies.set("forslag", name);
      forslagCookie = name;
    }
    return Astro.redirect("/");
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title="GUDS gave til fart i nye prosjekter">
  <main>
    <h1>
      <form method="post">
        Velkommen til <AnimatedInput client:load initialValue={forslagCookie} />
        <br />
        <button class="submit-button">Send inn forslag</button>
      </form>
      <small>- Gyldendal Undervisnings designsystem</small>
    </h1>

    <div>
      <SizeMarkdown />
      <Sizes />
      <BorderMarkdown />
      <Borders />
      <ColorMarkdown />
      <Colors client:idle />
    </div>

    <ul role="list" class="link-card-grid">
      <Card
        href="/kodegreier"
        title="Flere rammeverk"
        body="Astro kan rendre f.eks. React, Vue og Svelte sammen"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    color: var(--primitives-color-blue-800);
    font-size: calc(var(--primitives-size-20) * 1px);
    line-height: var(--primitives-font-line-height-150) / 10;
  }
  h1 {
    font-size: calc(var(--primitives-size-48) * 1px);
    font-weight: var(--primitives-font-weight-bold);
    text-align: center;
    line-height: 0.9;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  small {
    font-size: calc(var(--primitives-size-20) * 1px);
  }
</style>
