---
import { Borders } from "../components/borders/Borders";
import { Colors } from "../components/colors/Colors";
import { Elevation } from "../components/elevation/Elevation";
import { Sizes } from "../components/sizes/Sizes";
import { Typography } from "../components/typography/Typography";
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/pageHeader/PageHeader.astro";
import { AnimatedInput } from "../components/animatedInput/AnimatedInput";
import * as typographyStyles from "gu-ds-css/output/typography.module.css";
---

<Layout title="Designsystem X">
  <PageHeader>
    <h1 class:list={[typographyStyles.headingXxxl, "ds-heading"]}>DS X</h1>
  </PageHeader>
  <Colors client:idle />
  <Typography client:idle />
  <Sizes client:idle />
  <Borders client:idle />
  <Elevation client:idle />
</Layout>

<style>
  .ds-heading {
    text-align: center;
    margin: 0;
    padding: calc(var(--primitives-size-8) * 1px) 0;
  }

  .submit-button {
    background-color: var(--component-button-color-background);
    border-radius: calc(var(--semantic-action-border-radius-pill) * 1px);
    padding: calc(var(--component-button-padding-block) * 1px)
      calc(var(--component-button-padding-inline) * 1px);
    vertical-align: 5px;
    margin-left: 5px;
  }

  .status {
    text-align: center;
    margin-top: calc(var(--primitives-size-18) * 1px);
  }
</style>
