---
import { Borders } from "../components/borders/Borders";
import { Colors } from "../components/colors/Colors";
import { Elevation } from "../components/elevation/Elevation";
import { Sizes } from "../components/sizes/Sizes";
import { Typography } from "../components/typography/Typography";
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/pageHeader/PageHeader.astro";
import { AzureNamedKeyCredential, TableClient } from "@azure/data-tables";
import { AnimatedInput } from "../components/animatedInput/AnimatedInput";
import * as typographyStyles from "gu-ds-css/output/typography.module.css";

/** Cookies can only be set in pages, so PageHeader can't do this */
const save = async (value: string) => {
  const account = import.meta.env.AZURE_ACCOUNT;
  const accountKey = import.meta.env.AZURE_KEY;
  const tableName = "dsforslag";

  const credential = new AzureNamedKeyCredential(account, accountKey);
  const client = new TableClient(
    `https://${account}.table.core.windows.net`,
    tableName,
    credential
  );

  await client.createEntity({
    partitionKey: value,
    rowKey: new Date().toISOString(),
  });
};

let forslagCookie = Astro.cookies.get("forslag")?.value ?? "";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const forslag = `${data.get("forslag")}`;

    if (forslagCookie !== forslag) {
      await save(forslag);

      Astro.cookies.set("forslag", forslag);
      forslagCookie = forslag;
    }
    return Astro.redirect("/");
  } catch (error) {
    console.error(error);
  }
}
---

<Layout title="Designsystem X">
  <PageHeader>
    <!-- Temporary page header while name competition is going on -->
    <form method="post" style={{ display: "flex", alignItems: "center", flexDirection: "column" }}>
      <h1 class="heading-xxl ds-heading">
      Velkommen til 
      {
          forslagCookie 
            ? forslagCookie 
            : (
                <AnimatedInput client:load />
                <button type="submit" class={typographyStyles.actionButton + " submit-button"}>Send forslag</button>
              )
        }
      </h1>
      <a href="/forslag">Se andre forslag {!forslagCookie && (" og stem")}</a>
    </form>
  </PageHeader>
  <Colors client:idle />
  <Typography client:idle />
  <Sizes client:idle />
  <Borders client:idle />
  <Elevation client:idle />
</Layout>

<style>
  .ds-heading {
    text-align: center;
    margin: calc(var(--primitives-size-32) * 1px) 0 calc(var(--primitives-size-18) * 1px);
  }

  .submit-button {
    background-color: var(--component-button-color-background);
    border-radius: calc(var(--semantic-action-border-radius-pill) * 1px);
    padding: calc(var(--component-button-padding-block) * 1px)
      calc(var(--component-button-padding-inline) * 1px);
    vertical-align: 5px;
    margin-left: 5px;
  }

  .status {
    text-align: center;
    margin-top: calc(var(--primitives-size-18) * 1px);
  }
</style>