---
import { ProgressBar } from "gu-ds-components/react";
import "gu-ds-components/react/index.css"; 
---

<h1>Komponenter</h1>
<h2>Progress bar</h2>

<!-- Server side rendered react component -->

<ProgressBar
  progressBars={[{valueNow: 50, "aria-label": "Server side rendered", }]}
/>

<br />

<!-- Client side rendered react component -->

<div id="react-root" />

<br />

<script>
  import { ProgressBar } from "gu-ds-components/react";
  import { createElement } from "react";
  import { createRoot } from "react-dom/client";
  const element = document.getElementById("react-root");
  if (element) {
    const root = createRoot(element);
    const componentWithoutJsx = createElement(ProgressBar, {progressBars:[{valueNow: 50, "aria-label": "Client side rendered", }]}, null);
    root.render(componentWithoutJsx);
  }
</script>

<!-- Web component using custom element -->

<script>
  import "gu-ds-components/web-components";
</script>

<!-- Workaround to prevent Astro from escaping attribute value -->
<!-- https://github.com/withastro/astro/issues/2095 -->
<Fragment
  set:html={`<gu-ds-progress-bar progress-bars='${JSON.stringify([{valueNow: 50, "aria-label": "Web component using custom element", }])}'></gu-ds-progress-bar progress-bars>`}
/>

<br />

<!-- Scripted Web component -->

<div id="web-component-container"></div>

<script>
  import { ProgressBar } from "gu-ds-components/web-components";
  const progressBar = new ProgressBar();
  progressBar.progressBars=[{valueNow: 50, "aria-label": "Scripted Web component", }]
  document.querySelector("#web-component-container")?.appendChild(progressBar);
</script>
