---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Colors } from "../components/Colors";
import { Content as ColorMarkdown } from "../markdown/colors.md";
import { Borders } from "../components/Borders";
import { Content as BorderMarkdown } from "../markdown/borders.md";
---

<Layout title="GUDS gave til fart i nye prosjekter">
  <main>
    <h1>
      Velkommen til <span class="text-gradient">Knut</span>
      <br />
      <small>- Gyldendal Undervisnings designsystem</small>
    </h1>

    <div>
      <BorderMarkdown />
      <Borders />
      <ColorMarkdown />
      <Colors client:idle />
    </div>

    <ul role="list" class="link-card-grid">
      <Card
        href="/kodegreier"
        title="Flere rammeverk"
        body="Astro kan rendre f.eks. React, Vue og Svelte sammen"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    color: var(--primitives-color-blue-800);
    font-size: calc(var(--primitives-size-20) * 1px);
    line-height: var(--primitives-font-line-height-150) / 10;
  }
  h1 {
    font-size: calc(var(--primitives-size-48) * 1px);
    font-weight: var(--primitives-font-weight-bold);
    text-align: center;
    line-height: 0.9;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  small {
    font-size: calc(var(--primitives-size-20) * 1px);
  }
</style>
