.typography {
    padding: calc(var(--primitives-size-48) * 1px) calc(var(--primitives-size-32) * 1px);
    background-color: var(--primitives-color-gray-100);
    color: var(--primitives-color-black);
}

.table {
    width: 100%;
    max-width: 1024px;
    border-spacing: 0 calc(var(--primitives-size-16) * 1px);
    margin-bottom: calc(var(--primitives-size-96) * 1px);
}

.th {
    vertical-align: top;
    text-align: left;

    &:first-child {
        padding-left: calc(var(--primitives-size-32) * 1px);
    }
}

.table th,
.table td {
    padding-inline: calc(var(--primitives-size-16) * 1px);
}

.table td {
    padding-block: calc(var(--primitives-size-32) * 1px);
    background-color: var(--primitives-color-white);
}

.tdWithFormatting {
    padding-block: calc(var(--primitives-size-32) * 1px);
    text-transform: capitalize;
}

.table td:first-child {
    padding-left: calc(var(--primitives-size-32) * 1px);
    border-radius: 16px 0 0 16px;
}

.table td:last-child {
    padding-right: calc(var(--primitives-size-32) * 1px);
    border-radius: 0 16px 16px 0;
}