.page {}

.content {
    padding: calc((var(--primitives-size-40) + var(--primitives-size-32)) * 1px) calc(var(--primitives-size-32) * 1px);
    color: var(--semantic-color-surface-container-foreground);
    background-color: var(--semantic-color-surface-container-background);
}