.table {
    width: 100%;
    max-width: 1024px;
    border-spacing: 0 calc(var(--primitives-size-16) * 1px);
}

.table th {
    vertical-align: top;
    text-align: left;

    &:first-child {
        padding-left: calc(var(--primitives-size-32) * 1px);
    }
}

.table th,
.table td {
    padding-inline: calc(var(--primitives-size-16) * 1px);
    color: var(--primitives-color-black);
}

.table td {
    padding-block: calc(var(--primitives-size-32) * 1px);
    background-color: var(--primitives-color-white);
}

.table td:first-child {
    padding-left: calc(var(--primitives-size-32) * 1px);
    border-radius: 16px 0 0 16px;
}

.table td:last-child {
    padding-right: calc(var(--primitives-size-32) * 1px);
    border-radius: 0 16px 16px 0;
}

.tdWide {
    width: 100%
}