---
import { hexOpacity, hexOpaque } from "./colors.css";
interface Props {
  hex: string;
}
import classNames from "./colors.module.css";

const { hex } = Astro.props;

const opaque = hex.slice(0, 7);
const opacity = hex.slice(7);
---

<span class={classNames.hexOpaque}>{opaque}</span>
<span class={classNames.hexOpacity}>{opacity}</span>
