---
import Navigation from "../navigation/Navigation.astro";

---

<header>
  <div class="top">
    <img class="ds-gyldendal-logo" src="/gyldendal_frontpage_logo.svg" alt="Gyldendal logo" />
    <slot />
  </div>
  <Navigation />
</header>

<style>
  header {
    background-color: var(--primitives-color-gray-100);
  }
  
  .top {
    padding: calc(var(--primitives-size-18) * 1px);
  }
  
  .ds-gyldendal-logo {
    position: absolute;
    top: calc(var(--primitives-size-18) * 1px);
    left: calc(var(--primitives-size-18) * 1px);
    height: calc(var(--primitives-size-24) * 1px);
  }
  </style>