@layer guds {
    .item {
        width: calc(var(--progress-bar-item-width) * 1%);
        height: inherit;
        border-radius: inherit;
    }

    .fill {
        width: 100%;
        max-width: 100%;
        height: inherit;

        /* Necessary for iPad */
        background-color: var(--progress-bar-fill-color);
        border-radius: inherit;
        transition: width 0.2s ease-in;
    }

}
