@import url("gu-ds-base/themes/default/tokens.css");

@layer guds {
    .list {
        --progress-bar-height: calc((var(--component-progressbar-size-default) * 1px) + (1em - 16px));
        --progress-bar-border-radius: calc(1px * var(--component-progressbar-border-radius));
        position: relative;
        display: flex;
        border-radius: var(--progress-bar-border-radius);

        /* Necessary to stretch its container */
        padding: 0;
        height: var(--progress-bar-height);
        width: var(--progress-bar-width, 100%);
        list-style: none;
        background-color: var(--progress-bar-background-color, var(--component-progressbar-color-background-default));
    }

    .low {
        --progress-bar-height: calc((var(--component-progressbar-size-small) * 1px) + (1em - 16px));
    }

    .show-full-length {
        justify-content: space-between;
    }
    
}
